@theme inline {
  /* Base site-wide palette */
  --color-background: #f0f0f0;
  --color-foreground: oklch(0.2178 0 0);
  --color-primary: oklch(0.4866 0.1317 149.67);
  --color-secondary: oklch(64.598% 0.20233 35.168);
  --color-accent: oklch(84.405% 0.16049 86.113);
  --color-link: oklch(84.405% 0.16049 86.113);
  --color-border: oklch(0.2178 0 0);

  /* Component-level palette tokens linked to dynamic CSS variables */
  --color-palette-foreground: var(
    --theme-palette-foreground,
    var(--color-background)
  );
  --color-palette-background: var(
    --theme-palette-background,
    var(--color-accent)
  );
  --color-palette-primary: var(--theme-palette-primary, var(--color-primary));
  --color-palette-secondary: var(
    --theme-palette-secondary,
    var(--color-secondary)
  );
  --color-palette-accent: var(--theme-palette-accent, var(--color-accent));
  --color-palette-outline: var(--theme-palette-outline, var(--color-accent));
}

[data-palette='ffm-xv'] {
  /* Base XV festival palette */
  --color-ffm-xv-white: oklch(97.024% 0.01501 37.542);
  --color-ffm-xv-green: oklch(0.4866 0.1317 149.67);
  --color-ffm-xv-orange: oklch(59.331% 0.10329 14.304);
  --color-ffm-xv-yellow: #ffecd0;
  --color-ffm-xv-pink: oklch(80.637% 0.11154 33.77);
  --color-ffm-xv-purple: #b80063;
  --color-ffm-xv-strong-yellow: #fe9a00;
}

[data-palette='ffm-xvi'] {
  --theme-palette-background: #0073b8;
  --theme-palette-foreground: #ffffff;
  --theme-palette-primary: #e664cd;
  --theme-palette-secondary: #a0c85a;
  --theme-palette-outline: #003c91;
  --theme-palette-accent: #a0c85a;
}

@utility wavy-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
