@theme inline {
  /* Base site-wide palette */
  --color-background: #e4e4e4;
  --color-foreground: oklch(0.2178 0 0);
  --color-primary: #005e99;
  --color-secondary: #8ccc53;
  --color-accent: #ff9165;
  --color-link: #c096b5;
  --color-border: oklch(0.2178 0 0);

  /* Component-level palette tokens linked to dynamic CSS variables */
  --color-palette-foreground: var(--theme-palette-foreground,
      var(--color-background));
  --color-palette-background: var(--theme-palette-background,
      var(--color-accent));
  --color-palette-primary: var(--theme-palette-primary, var(--color-primary));
  --color-palette-secondary: var(--theme-palette-secondary,
      var(--color-secondary));
  --color-palette-accent: var(--theme-palette-accent, var(--color-accent));
  --color-palette-outline: var(--theme-palette-outline, var(--color-accent));
}

[data-palette='ffm-xv'] {
  /* Base XV festival palette */
  --theme-palette-foreground: oklch(97.024% 0.01501 37.542);
  --theme-palette-accent: oklch(0.4866 0.1317 149.67);
  --theme-palette-outline: oklch(59.331% 0.10329 14.304);
  --theme-palette-secondary: #fe9a00;
  --theme-palette-background: oklch(80.637% 0.11154 33.77);
  --theme-palette-primary: #b80063;
}

[data-palette='ffm-xvi'] {
  --theme-palette-background: #0073b8;
  --theme-palette-foreground: #ffffff;
  --theme-palette-primary: #e664cd;
  --theme-palette-secondary: #a0c85a;
  --theme-palette-outline: #003c91;
  --theme-palette-accent: #a0c85a;
}

@utility wavy-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
