@import '@frijolmagico/tailwind-config/css';

@theme {
  --font-josefin: var(--font-josefin-sans);
  --font-noto: var(--font-noto-sans);
  --font-superfortress: var(--font-superfortress);
  --font-rubik: var(--font-rubik);
  --font-rubik-bubbles: var(--font-rubik-bubbles);
  --font-roboto-mono: var(--font-roboto-mono);
}
